<ion-header>
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="create(form)" method="post">
    <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input ngModel name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cpf</ion-label>
      <ion-input type="text" ngModel name="cpf"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="text" ngModel name="telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Endereco</ion-label>
      <ion-input type="text" ngModel name="endereco"></ion-input>
    </ion-item>
  </form>
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="light" (click)="goBack()">Voltar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button type="submit" color="secondary" expand="full" color="primary" (click)="create(form)">Salvar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
